
.site-background {
  background-image: url(../images/home-background.jpg)
}

.button {
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
  padding: 1em;
}
.site-logo {
  margin: 2em;
}

.site-navigation-link {
  text-decoration: none;
  color: black;
}

.site-navigation-list {
  list-style: none;
}

.site-navigation-item {
  margin: 0em 0em 3em 0em;
  font-family: Courier, serif;
}
